<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Авторизация в системе</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
    <div class="background_image">
        <div class="pde">
            <form class="flp" th:method="POST" th:object="${user}">
                <h2>Авторизация в системе</h2>
                <input class="inp" th:field="*{username}" placeholder="Логин" type="text">
                <input class="inp" th:field="*{password}" placeholder="Пароль" type="password">
                <input class="btn_login" value="Войти" type="submit">
            </form>
        </div>
    </div>
</body>
</html>